<!DOCTYPE html>
<html>
  <head>
    <title>Easy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
  <script type="text/javascript">
    $(function() {
      $('.datepicker').datepicker();
    });
  </script>



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
      </div>
    
  </body>
</html>
